
  .App{
  background-color: lightblue;
  min-height:1680px;
}

li {
  list-style-type: none;
}

a{
  text-decoration: none;
  color:white;
}

/* --------------------------------------------------
   Nav
-----------------------------------------------------*/


.Header-fix{
  width:100%;
  position:fixed;
  top:0px;
  left:0;
}

.App-header {
  display:flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  background-color: #222;
  color: red;
  text-align: center;
  max-width:1280px;
  margin: 0 auto;
}

.flexList{
  display: flex;
  justify-content: flex-start;
}

ul li{
  margin-right: 5px;
}

.SearchForm {
  /* border:2px solid red;
  margin-left: auto; */
  margin-right: 1em;
}

.space{
  height:150px
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 70px;
}
/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
/*----------------------------content ------------------------------------------ */
.content {
  display:flex;
  text-align: center;
  max-width:960px;
  margin: 0 auto;
  /* border:20px purple solid; */
}

/*----------------------------left content--------------------------------------------- */
.left {
  margin-top: 19px;
  flex:1;
  display:flex;
  flex-flow: column;
  height:350px;
  margin-right:5px;
}

.filters .xx {
border:1px solid blue;
flex:1;
display:flex;
flex-flow: column;
justify-content: space-around;
}

.xx1{
  margin-bottom: 10px;
}

.xx2 {
  display: flex;
  flex-flow: column;
}

/*----------------------------right content ------------------------------------------ */
.right{
  /* border:7px solid blue; */
  flex:5;
  display:flex;
  flex-flow: column;
}
.rightTop{
  /* border: 7px solid red; */
  display:flex;
  justify-content: flex-end;
}

.Grid {
  padding: 5px;
  border:1px solid yellow;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.Product-Wrap{
  box-sizing: border-box;
  background: lightgrey;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: .3s;
  width:30%;
  /* border: 2px solid red; */
  margin:7px;

}

.Product-Wrap:hover{
  background-color: silver;
}

.Product-Desc{
  padding: 2px 15px;
  background-color: lightgreen;
  border-radius: 0 0 10px 10px;
}

.Product-price{
  color:red;
  font-weight: 800px;
  font-size: 20px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.40);

}
/*---------------------------------------------------------------------------- */




.footer{
  box-sizing: border-box;
  background-color: #222;
  height: 300px;
  color: red;
  text-align: center;
  max-width:960px;
  border:10px green solid;
  margin:30px auto;
  position:relative;
}

@media (max-width: 580px) {
  .Grid {
    display:grid;
    grid-template-columns: 1fr 1fr ;
  }

}
