
  .App{
  background-color: lightblue;
  min-height:1680px;
}

li {
  list-style-type: none;
}

a{
  text-decoration: none;
  color:white;
}

/* --------------------------------------------------
   Nav
-----------------------------------------------------*/
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.Header-fix{
  width:100%;
  position:fixed;
  top:0px;
  left:0;
}

.App-header {
  display:flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  background-color: #222;
  color: red;
  text-align: center;
  max-width:1280px;
}

.flexList{
  display: flex;
  justify-content: flex-start;
}

ul li{
  margin-right: 5px;
}

.SearchForm {
  /* border:2px solid red;
  margin-left: auto; */
  margin-right: 1em;
}

.space{
  height:150px
}


/* .App-header {
  background-color: black;
  transition: background-color 1.5s ease;
  height: 150px;
  padding: 20px;
  color: red;
  border: 10px solid red;
} */

/*ending transition*/

/* .App-header:hover {
  background-color: green;
} */








/*----------------------------content ------------------------------------------ */
.content {
  display:grid;
  grid-template-columns: 1fr 4fr;
  grid-gap:5px;
  text-align: center;
  max-width:960px;
  margin: 0 auto;
  border:20px purple solid;
}

/*----------------------------left content--------------------------------------------- */
.filters{
  display:grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap:5px;
  border:5px solid red;
  height:350px;
}

.filters div {
border:1px solid blue;

}

/*----------------------------right content ------------------------------------------ */

.Grid {
  border:2px solid yellow;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:5px;
}

.Product-Wrap{
  background: lightgrey;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin:5px;
  transition: .3s;

}

.Product-Wrap:hover{
  background-color: silver;
}

.Product-Desc{
  padding: 2px 15px;
  background-color: lightgreen;
  border-radius: 0 0 10px 10px;
}

.Product-price{
  color:red;
  font-weight: 800px;
  font-size: 20px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.40);

}
/*---------------------------------------------------------------------------- */




.footer{
  box-sizing: border-box;
  background-color: #222;
  height: 300px;
  color: red;
  text-align: center;
  max-width:960px;
  border:10px green solid;
  margin:30px auto;
  position:relative;
}

@media (max-width: 580px) {
  .Grid {
    display:grid;
    grid-template-columns: 1fr 1fr ;
  }

}
