body{
  background-color: black;
  }

  .App {
  text-align: center;
  border:1px solid blue;
  margin-bottom: 75px;
  display:flex;
  flex-flow: row wrap;
  width:600px;
  margin:0 auto;
}

.div{

  border:1px solid green;
  margin:20px;
  color:white;
  padding:3px;
  width:60px;

}












/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
