.App {
  text-align: center;
  max-width:960px;
  margin: 0 auto;
  border:1px green solid;

}

/* fix css- decide on header & app css, how to apply app css w/o
distrupting header*/
/*header needs to have a parent container
with 100% width, might need for Header
and content to have seperate css widths*/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Header-fix{
  width:100%;
  position:fixed;
  top:0px;
  left:0;
  border:1px solid red;
}

.App-header {
  box-sizing: border-box;
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: red;
  border: 10px solid lightblue;
  max-width:960px;
  margin:0 auto;
}

.Search{
  margin-top:230px;
}

/* .App-header {
  background-color: black;
  transition: background-color 1.5s ease;
  height: 150px;
  padding: 20px;
  color: red;
  border: 10px solid red;
} */

/*ending transition*/

/* .App-header:hover {
  background-color: green;
} */

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

form{
 background-color: #f2f2f2;
 display:inline-block;
}
.searchForm{
  margin: 10px;
  height:30px;

  /* border: .02px solid lightgrey; */
}



.Grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 580px) {
  .Grid {
    display:grid;
    grid-template-columns: 1fr 1fr ;
  }

}
